@{
  Layout = "_Layout";
}

<h1>Treats that use this flavor.</h1>

@foreach (var join in Model.Treats)
{
  @Html.ActionLink($"{join.Treat.Type}", "Details", "Treats", new {id = join.Treat.TreatId})
}

@Html.ActionLink("Return to Flavor index", "Index")
@if (User.Identity.IsAuthenticated)
{
@Html.ActionLink("Edit this flavor", "Edit", new {id = Model.FlavorId})
@Html.ActionLink("Add a treat to this flavor", "AddTreat", new {id = Model.FlavorId})
}