@{
  Layout = "_Layout";
}
@using Pierres2.Models;

<h1>Pierre's Flavors</h1>

<ul>
@foreach (Flavor flavor in Model)
{
  <li>@Html.ActionLink($"{flavor.Name}", "Details", new { id = flavor.FlavorId})</li>
}
</ul>

@if (User.Identity.IsAuthenticated)
{
  <center>
  <br>
  @Html.ActionLink("Add a new flavor", "Create")
  </center>
}