@{
  Layout = "_Layout";
}
@using Pierres2.Models;

<h1>Pierre's Treats</h1>

<ul>
@foreach (Treat treat in Model)
{
  <li>@Html.ActionLink($"{treat.Type}", "Details", new { id = treat.TreatId})</li>
}
</ul>

@if (User.Identity.IsAuthenticated)
{
  <center>
  <br>
  @Html.ActionLink("Add a new treat", "Create")
  </center>
}