@{
  Layout = "_Layout";
}

<h1>Pierre's Sweet and Savory Treats!</h1>

@Html.ActionLink("View Treats", "Index", "Treats")
@Html.ActionLink("View Flavors", "Index", "Flavors")
@Html.ActionLink("Log in", "Login", "Account")


