@{
  Layout = "_Layout";
}
@using Pierres2.Models;

@Html.ActionLink("Log in", "Login", "Account")<br>

<h2>Flavors</h2>
@foreach (Flavor flavor in ViewBag.Flavors)
{
  @Html.ActionLink($"{flavor.Name}", "Details", "Flavors", new {id = flavor.FlavorId})<br>
}

<h2>Treats</h2>
@foreach (Treat treat in ViewBag.Treats)
{
  @Html.ActionLink($"{treat.Type}", "Details", "Treats", new {id = treat.TreatId})<br>
}

